{% assign repo_url = include.repository | split: '/' %}
{% assign owner = repo_url[0] %}
{% assign repo_name = repo_url[1] %}
{% assign repo_humanized = repo_name | replace: '-', ' ' | replace: '_', ' ' %}

<div class="repo p-2 text-center">
  <a
    href="https://github.com/{{ include.repository }}"
    class="text-decoration-none text-body"
    target="_blank"
    rel="noopener noreferrer"
  >
    <div class="card h-100 hoverable">
      <div class="card-body d-flex flex-column justify-content-center">
        <p class="card-title h6 text-capitalize mb-1">{{ repo_humanized }}</p>
        <p class="card-text small text-muted mb-0">{{ owner }}/{{ repo_name }}</p>
        <i class="fa-brands fa-github mt-2" aria-hidden="true"></i>
      </div>
    </div>
  </a>
</div>
